<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
 <mapper namespace="com.yue.dao.CustomDetailDao">
    <!-- 插入 -->
    <insert id="insertCustomDetail" parameterType="com.yue.model.CustomDetail">
        insert into BDCustomDetail(proId,customId,proDetailId,customDetailCount,customDetailType) 
               values(#{proId},#{customId},#{proDetailId},#{customDetailCount},#{customDetailType})
    </insert>  
    <!-- 删除 -->
    <delete id="deleteCustomDetail" parameterType="String">
        delete from BDCustomDetail 
        where customId=#{customId} and proDetailId=#{proDetailId}
    </delete>
    <!-- 更新 -->
    <update id="updateCustomDetail" parameterType="com.yue.model.CustomDetail">
        update BDCustomDetail 
        set proId=#{proId} and customDetailCount=#{customDetailCount},customDetailType=#{customDetailType} 
        where proDetailId=#{proDetailId} and customId=#{customId}
    </update>
 </mapper>