<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
 <mapper namespace="com.yue.dao.ProductDetailDao">
    <!-- 根据商品ID查商品明细 -->
    <select id="queryProductDetailByProId" resultType="com.yue.model.ProductDetail" parameterType="String">
        select * 
        from BDProductDetail 
        where proId = #{proId}
    </select>
    <!-- 根据商品明细ID查商品明细 -->
    <select id="queryProductDetailByProDetailId" resultType="com.yue.model.ProductDetail" parameterType="String">
        select * 
        from BDProductDetail 
        where proDetailId = #{proDetailId}
    </select>
    <!-- 插入 -->
    <insert id="insertProductDetail" parameterType="com.yue.model.ProductDetail">
        insert into BDProductDetail(proDetailId,proDetailCount,proDetailType,proId) 
               values(#{proDetailId},#{proDetailCount},#{proDetailType},#{proId})
    </insert>  
    <!-- 删除 -->
    <delete id="deleteProductDetail" parameterType="String">
        delete from BDProductDetail where proDetailId=#{proDetailId}
    </delete>
    <!-- 更新 -->
    <update id="updateProductDetail" parameterType="ProductDetail">
        update BDProductDetail 
        set proDetailCount=#{proDetailCount},proDetailType=#{proDetailType} 
        where proDetailId=#{proDetailId}
    </update>
 </mapper>