<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   
    "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
 <mapper namespace="com.yue.dao.UserDao">
 	<!-- 登录 -->
    <select id="queryUserByName" resultType="com.yue.model.User" parameterType="com.yue.model.User">
        select * 
        from BEUser 
        where userName = #{userName} and password = #{password}
    </select>
    <!-- 注册 -->
    <insert id="insertUser" parameterType="com.yue.model.User">
        insert into BEUser(userId,userName,password,userTel,userAddr,userSex) 
               values(#{userId},#{userName},#{password},#{userTel},#{userAddr},#{userSex})
    </insert>  
   	 <!-- 查询所有用户 -->
    <select id="queryAllUser" resultType="com.yue.model.User">
        select userId,userName,userTel,userAddr,userSex
        from BEUser 
    </select>
    <!--根据ID搜索 -->
    <select id="queryUserById" resultType="com.yue.model.User" parameterType="com.yue.model.User">
        select * 
        from BEUser 
        where userId = #{userId}
    </select>
    <select id="queryAllUserPage" resultType="com.yue.model.User">
        select *
        from BEUser 
    </select>
    <!-- 更新 -->
    <update id="updateUser" parameterType="com.yue.model.User">
        update BEUser 
        set userName=#{userName},password=#{password},userTel=#{userTel},userAddr=#{userAddr},userSex=#{userSex}
        where userId=#{userId}
    </update>
 </mapper>